<!DOCTYPE html>
<html>
  <head>
    <title>Fumblr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="icon" type="image/x-icon" href="https://fumblr11-seeds.s3.amazonaws.com/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <%# bootstrap %>
    <%# <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"> %>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
       
       <%# following method comes from application controller in standard rails auth  %>
      <% if current_user%>
          <%# make a new script to run js if there is a user %>
        <script>  
        // add user to the window as an object called currentUser
        // with all of the necessary properties currentUser has
          window.currentUser = {
          "id": <%= current_user.id%>,
          "username": "<%= current_user.username%>",
          "email": "<%= current_user.email%>"
       
        };
        // username and email have to be in quotes because they
        // are strings and javascript will be used to evaluate
        // the script, not ruby or erb
        </script>

      <%end%>



       <%  if current_user && current_user.avatar.attached? %>
        <script> 
      window.currentUser.avatar_url = "<%= url_for(current_user.avatar)%>"
      </script>
        <%end%>

        <% if current_user  && current_user.cover.attached? %>
        <script> 
        window.currentUser.cover_url = "<%= url_for(current_user.cover)%>"
      </script>
        <%end%>
      
  </head>

  <body>

    
    <%= yield %>
     
  </body>
</html>
