<!DOCTYPE html>
<html>
  <head>
    <title>Fumblr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

       <%# method comes from application controller in standard rails auth  %>
      <% if current_user%>
          <%# make a new script to run js if there is a user %>
        <script>  
        // add user to the window as an object called currentUser
        // with all of the necessary properties currentUser has
          window.currentUser = {
          "id": <%= current_user.id%>,
          "username": "<%= current_user.username%>",
          "email": "<%= current_user.email%>",
          // "avatar_url": 
       
        };
        // username and email have to be in quotes because they
        // are strings and javascript will be used to evaluate
        // the script, not ruby or erb
        </script>

      <%end%>



       <%  if current_user && current_user.avatar %>
        <script> 
      window.currentUser.avatar_url = "<%= url_for(current_user.avatar)%>"
      </script>
        <%end%>

        <% if current_user && current_user.cover %>
        <script> 
      window.currentUser.cover_url = "<%= url_for(current_user.cover)%>"
      </script>
        <%end%>
      
  </head>

  <body>

    <%= yield %>
     
  </body>
</html>
